doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Free Code Camp - Wikipedia Viewer
    meta(name='Wikipedia Viewer' content='A Web Application with a Wikipeida Interface')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='Rob Caluza' content='Free Code Camp')
    <!-- CSS-- Styles -->
    link(rel='stylesheet' href='CSS/main.css')
    link(rel='stylesheet' href='CSS/mdb.min.css')
    link(rel='stylehseet' href='CSS/bootstrap.min.css')
  
  body
    div(class='jumbotron')
      h1 Wikipedia Viewer
    div(class='container')
      
    
    
    script(scr='JS/main.js')
    script(src='JS/bootsrap.min.js')
    script(src='JS/jquery-2.2.3.min.js')
    
    
  
