doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Free Code Camp - Wikipedia Viewer
    meta(name='Wikipedia Viewer' content='A Web Application with a Wikipeida Interface')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    meta(name='Rob Caluza' content='Free Code Camp')
    <!-- CSS-- Styles -->
    
    link(rel='stylesheet' href='CSS/mdb.min.css')
    link(rel='stylesheet' href='CSS/bootstrap.min.css')
    link(rel='stylesheet' href='CSS/main.css')
  
  body
    div(class='container-fluid')
      h1 Wikipedia Viewer
      br
      img(src='https://upload.wikimedia.org/wikipedia/en/thumb/8/80/Wikipedia-logo-v2.svg/220px-Wikipedia-logo-v2.svg.png' id="wikiLogo")
    div(class='container-fluid')
      a(href='https://en.wikipedia.org/wiki/Special:Random' target="_blank"  id='wikiRand' ) Random-Wiki
      br
      input(id='searchQuery' type='search' placeholder='Search...')
      br
      button(id='search' type='submit' class='btn btn-primary') Search
        
    div(class='container')  
      ul(id='output')
    
        
    script(rel='text/javascript' src='JS/jquery-3.1.1.min.js')
    script(rel='text/javascript' src='JS/script.js')
    
  footer
    div(class='foot')
      p Coded by
        a(href='https://codepen.io/s31181')
          p Rob Caluza
      div(class='row')
        div(class='col-md-4')
          a(href='https://twitter.com/rob_cal01' target="_blank")
            img(src='https://upload.wikimedia.org/wikipedia/en/thumb/9/9f/Twitter_bird_logo_2012.svg/1259px-Twitter_bird_logo_2012.svg.png' id='twitter')
        div(class='col-md-4')
          a(href='https://codepen.io/s31181' target="_blank")
            img(src='https://blog.codepen.io/wp-content/uploads/2012/06/Button-Black-Large.png' id='codepen')
        div(class='cold-md-4')
          a(href='https://github.com/s31181' target="_blank")
            img(src='http://image.flaticon.com/icons/png/512/25/25231.png' id='gitHub')
    
    
  
